/* copyright 2022 taidalog */
@charset "UTF-8";
.header-container {
    max-width: 80%;
    margin: 0 auto;
}

main, footer {
    max-width: 80%;
    margin: 0 auto;
}

.button-container {
    padding: 5px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px;
    gap: 20px;
}

.btn {
    appearance: none;
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: white;
    font-size: 1.25rem;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
}

.button-ed2b {
    background-color: #65a2ac;
    order: 1;
}

.button-ed2b:hover {
    background-color: #5a919a;
}

.button-eb2d {
    background-color: mediumaquamarine;
    order: 2;
}

.button-epot {
    background-color: #a665ac;
    order: 3;
}

.button-epot:hover {
    background-color: #955a9a;
}

.button-epotex {
    background-color: #a665ac;
    order: 4;
}

.button-ebad {
    background-color: lightpink;
    order: 5;
}

.button-ebadex {
    background-color: lightpink;
    order: 6;
}

.button-ebsb {
    background-color: aquamarine;
    order: 7;
}

.button-ebsbex {
    background-color: aquamarine;
    order: 8;
}

.button-esho {
    background-color: firebrick;
    order: 9;
}

footer {
    margin-top: 20px;
}

.footer-container {
    display: flex;
    flex-direction: column;
}

@media (max-width: 600px) {    
    main {
        margin: 0 auto;
    }

    .button-container {
        padding: 5px 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .btn {
        height: 60px;
    }
}