/* copyright 2022 taidalog */
html {
    font-family: sans-serif;
    font-size: 100%;
}

body {
    margin: 0;
}

header {
    background-color: #65a2ac;
    color: aliceblue;
    padding: 1px;
}

header h1 {
    font-size: 1.5rem;
    max-height: 40px;
}

.inside {
    max-width: 600px;
    margin: 0 auto;
}

.main-content {
    max-width: 600px;
    margin: 0 auto;
}

main {
    width: 100%;
}

#question {
    font-size: 1.5rem;
    font-weight: bold;
}

.question {
    padding: 5px 0;
}

.input-area {
    padding: 5px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#nunmber-input {
    font-size: 1.25rem;
    border: 2px solid;
    border-radius: 4px;
    padding: 2px 5px;
    height: 40px;
    order: 1;
}

.binary-radix {
    margin: 0 5px;
    line-height: 40px;
    order: 2;
}

.buttons {
    margin: 10px 0;
    padding: 10px 0;
}

#button-check {
    color: midnightblue;
    font-size: 1rem;
    background: powderblue;
    border-radius: 4px;
    width: 200px;
    height: 40px;
    position: relative;
    border: hidden;
    order: 3;
}

#button-check:hover {
    color: powderblue;
    background-color: midnightblue;
}

#instruction {
    width: 100%;
    order: 4;
}

.warning {
    color: red;
}

.result {
    padding: 10px 0;
}

.result-indented {
    margin-left: 2rem;
}

.consolas {
    font-family: Consolas, sans-serif;
}

.result-correct {
    background-color: greenyellow;
    font-size: 18px;
}

.result-wrong {
    background-color: lightpink;
    font-size: 18px;
}

.zero-grey {
    color: rgba(0, 0, 0, 0.5);
}

footer a {
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 600px) {
    .inside {
        max-width: 300px;
        margin: 0 auto;
    }
    
    .main-content {
        max-width: 300px;
        margin: 0 auto;
    }
    
    main {
        width: 96%;
    }

    #button-check {
        width: 100%;
    }

    .container {
        display: flex;
        flex-direction: column;
    }
}